body {
    background-color: rgba(244, 244, 245, 0.925);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    margin: 50px;
    border-radius: 10px;
    background-color: rgb(180, 180, 240);
}

.agregarpedidos {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(217, 225, 233);
}

#btn_agregar {
    background-color:antiquewhite;
}

#btn_agregar:hover {
    background-color: aqua;
}